<!DOCTYPE html>{% load i18n staticfiles compress invoices %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% trans "Regex-IT portal" %}</title>

        {% compress css %}
        <link href="{% static "normalize.css/normalize.css" %}" media="screen, projection, print" rel="stylesheet">
        <link href="{% static "font-awesome/css/font-awesome.min.css" %}" media="screen, projection, print" rel="stylesheet">
        <link href="{% static "css/screen.css" %}" media="screen, projection, print" rel="stylesheet">
        {% endcompress %}
        {% block extrastyle %}{% endblock %}
    </head>

    <body class="{% block body-class %}{% endblock %}">
        <header>
            <div class="container">
                {% block header %}
                <div class="main-logo">
                    <span>Regex IT</span>
                </div>
                <nav>
                    <ul role="menu">
                        <li><a href="{% url 'home:home' %}">{% trans "home" %}</a></li>
                        <li><a href="{% url 'portfolio:list' %}">{% trans "portfolio" %}</a></li>
                        <li><a href="{% url 'home:contact' %}">{% trans "contact" context 'menu' %}</a></li>
                        {% if not user.is_authenticated %}
                            <li>
                                <a href="{% url 'account_login' %}">
                                    <i class="fa fa-lock"></i> {% trans "login" %}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'accounts:dashboard' %}">
                                    {% trans "dashboard" %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endblock %}
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>

            <div class="container">

                <address>
                Sergei Maertens
                <br>
                {% filter urlize %}info@regex-it.nl{% endfilter %}
                </address>

                <address>
                KvK: {% company_field 'KVK' %}
                <br>
                BTW: {% company_field 'TAX_IDENTIFIER' %}
                </address>

            </div>

        </footer>

        {% block scripts %}
        <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
        {% endblock %}
    </body>
</html>
