*.py[oc]
__pycache__

# deployment
src/regex/conf/uwsgi.ini

# collection directories
/log/
/static/
/media/
/private_media/
/src/static/css
/src/static/bower_components
node_modules

# testing
/cover
.coverage
.tox
