*.py[oc]
__pycache__

# deployment
src/regex/conf/uwsgi.ini
.vault_password
.env

# collection directories
/log/
!/log/.gitkeep
/static/
/media/
/private_media/
/src/regex/static/bundles/
node_modules

# testing
/cover
.coverage
.tox

# deployment
*.retry

.idea/
