{% extends "base.html" %}


{% block content %}
<section class="work-item-list">
    <h1 class="work-item-list__title">{{ project.name }}</h1>
    {% for entry in work_entries %}
        <article class="work-item">
            <span class="work-item__date"><i class="fa fa-calendar-o"></i> {{ entry.start|date:"d-m-y" }}</span>
            <span class="work-item__duration"><i class="fa fa-clock-o"></i> {{ entry.duration }}</span>
            <span class="work-item__time">{{ entry.start|date:"H:i" }} &ndash; {{ entry.end|date:"H:i" }}</span>
            <p class="work-item__notes">{{ entry.notes }}</p>
        </article>
    {% endfor %}
</section>
{% endblock content %}
