[program:uwsgi_{{ prefix }}]
user = {{ application_user }}
command = {{ venv }}/bin/uwsgi --ini {{ project_home }}/src/{{ project_name }}/conf/uwsgi.ini
autostart = true
autorestart = true
stderr_logfile = {{ project_home }}log/uwsgi_err.log
stdout_logfile = {{ project_home }}log/uwsgi_out.log
stopsignal = QUIT
environment =
    DJANGO_SETTINGS_MODULE={{ settings_module }},
    VIRTUAL_ENV={{ venv }}
