[program:uwsgi-koningskerk-{{ deploy_env }}]
user = konkerk
command = {{ venv }}/bin/uwsgi --ini {{ project_home }}/src/langerak_gkv/conf/uwsgi.ini
autostart = true
autorestart = true
stderr_logfile = {{ project_home }}/log/uwsgi_err.log
stdout_logfile = {{ project_home }}/log/uwsgi_out.log
stopsignal = QUIT
environment =
    DJANGO_SETTINGS_MODULE={{ settings_module }},
    VIRTUAL_ENV={{ venv }},
    PROJECT_ROOT={{ project_home }},
    PROJECT_PORT={{ ports.get(deploy_env) }}
