DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': "{{ db_name }}",
        'USER': "{{ db_user }}",
        'PASSWORD': "{{ db_password }}",
        'HOST': '',
        'PORT': '',
    },
    'legacy': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ legacy_db_name }}',
        'USER': '{{ legacy_db_user }}',
        'PASSWORD': '{{ legacy_db_password }}',
    }
}

SECRET_KEY = '{{ secret_key }}'

RAVEN_DSN = '{{ raven_dsn }}'

DEFAULT_FROM_EMAIL = '{{ from_email }}'
