{% extends "base.html" %}{% load i18n staticfiles %}


{% block content %}

<article>
    <h1 class="vertical-center"><i class="fa fa-laptop fa-3x"></i> {% trans "Freelance web development" %}</h1>

    <section class="pitch">


        <div class="cards">

            <div class="card">

                <div class="card-image text-center vertical-center bg-action2">
                    <i class="fa fa-globe fa-4x"></i>
                </div>

                <div class="card-header text-center">{% trans "Websites" %}</div>

                <div class="card-copy">
                    {% blocktrans %}
                    <p>Your product needs a decent website, maybe even a webshop or
                    maybe you want to keep your userbase updated through your website.
                    </p>
                    <p>Your custom requirements are easily met by building custom
                    websites, starting from your needs. <strong>You</strong>
                    control how to use and operate your website!</p>
                    {% endblocktrans %}
                </div>

            </div>


            <div class="card">

                <div class="card-image text-center vertical-center bg-action">
                    <i class="fa fa-cogs fa-4x"></i>
                </div>

                <div class="card-header text-center">{% trans "Internal tooling" %}</div>

                <div class="card-copy">
                    {% blocktrans %}
                    <p>Lots of people perform lots of repetitive tasks. Us - software
                    developers - like to automate the bland and boring stuff.</p>

                    <p>Examples that jump into mind:</p>

                    <ul class="default">
                        <li>Generating invoices</li>
                        <li>Keeping track of orders</li>
                        <li>Managing your staff</li>
                        <li>Tracking room reservations</li>
                    </ul>

                    <p>Ofcourse, this list is not exclusive. Contact me to bounce
                    your ideas and hear what's possible.</p>
                    {% endblocktrans %}
                </div>

            </div>


            <div class="card">

                <div class="card-image text-center vertical-center bg-light">
                    <i class="fa fa-user-plus fa-4x"></i>
                </div>

                <div class="card-header text-center">{% trans "Extra manpower" %}</div>

                <div class="card-copy">
                    {% blocktrans %}
                    <p>Sometimes you're just short a pair of hands to work on your
                    existing codebase. In that case, if the requirements are met,
                    I can work for you on an hourly base or based on a project fee.</p>

                    <p>Collaboration is done on an active base - you will get pointers
                    and hints from me how you can further improve the code structure
                    and what optimizations are still possible.</p>
                    {% endblocktrans %}
                </div>

            </div>

        </div>

    </section>

    <section>
        <h2><i class="fa fa-server"></i> {% trans "Favourite technology" %}</h2>

        <ul class="bullets">
            <li class="bullet">
                <div class="bullet-icon">
                    <img src="{% static "img/django_bullet.png" %}" alt="django-logo">
                </div>
                <div class="bullet-content">
                    <h3>{% trans "Python/Django" %}</h3>
                    <p>{% trans "Django is a high-level web framework written in Python, aimed on 'perfectionists with deadlines'." %}</p>
                </div>
            </li>

            <li class="bullet">
                <div class="bullet-icon">
                    <img src="{% static "img/postgresql_bullet.png" %}" alt="django-logo">
                </div>
                <div class="bullet-content">
                    <h3>{% trans "PostgreSQL" %}</h3>
                    <p>{% trans "PostgreSQL is an excellent, performant relational database, my first choice to handle your data with excellent integrity." %}</p>
                </div>
            </li>

            <li class="bullet">
                <div class="bullet-icon">
                    <img src="{% static "img/git_bullet.png" %}" alt="django-logo">
                </div>
                <div class="bullet-content">
                    <h3>{% trans "Git" %}</h3>
                    <p>{% trans "Every serious project needs serious tooling. Git is the preferred VCS, and Github is the popular repository hosting choice." %}</p>
                </div>
            </li>
        </ul>

        {% blocktrans %}
        <p>This is the basic set of tool that would probably be used with each new project. There is a lot more though: <strong>nginx</strong> is the first choice of webserver, which proxies to <strong>uwsgi</strong> which talks to Django.</p>
        <p>For caching, <strong>redis</strong> and <strong>memcache</strong> are viable options.</p>
        <p>Deployment is automated with <strong>Ansible</strong>, and all passwords and other secrets are stored in an encrypted vault.
        {% endblocktrans %}</p>

    </section>

</article>

<article>
    <h1 class="vertical-center"><i class="fa fa-bug fa-3x"></i> {% trans "Consultancy" %}</h1>
    {% blocktrans %}
    <p>Need help figuring out <strong>performance</strong> issues? Or are there <strong>bugs</strong> that prove to be hard to squash? Need help with <strong>architecture/stack design</strong>?</p>
    <p>These kind of issues can be tackled in consultancy sessions. The existing code is analyzed and points of improvement are pointed out, with a focus on quick wins and a roadmap for long term changes.</p>

    Supported technologies:
    <ul class="default">
        <li>Python/Django</li>
        <li>PHP/MySQL</li>
        <li>Javascript</li>
        <li>sass/scss</li>
        <li>(continuous) deployment</li>
    </ul>
    {% endblocktrans %}

</article>
{% endblock %}
