{% extends "base.html" %}{% load i18n staticfiles %}


{% block content %}

<article>
    <h1 class="vertical-center"><i class="fa fa-laptop fa-3x"></i> {% trans "Freelance web development" %}</h1>

    {% blocktrans %}
    <section class="pitch">
        <div class="col">
            <p><strong>Do you&hellip;</strong></p>
            <ul>
                <li>&hellip; need a <strong>new website</strong> for your awesome product?</li>
                <li>&hellip; want to <strong>optimize</strong> your workflow?</li>
                <li>&hellip; need to <strong>update</strong> your current platform?</li>
                <li>&hellip; have a <strong>lack of time</strong> to work on your interal tooling?</li>
            </ul>
        </div>

        <div class="col">
            <p>
            <strong>Feel free contact me and let me know your wishes!</strong> Even the seemingly simplest things can make your professional live more enjoyable.
            </p>

            <p>An example list of things that are possible:</p>

            <ul class="fa-ul">
                <li><i class="fa fa-li fa-calendar"></i> a reservation/calendar system</li>
                <li><i class="fa fa-li fa-globe"></i> a website for your club/hobby community</li>
                <li><i class="fa fa-li fa-calculator"></i> administrative applications</li>
                <li><i class="fa fa-li fa-question-circle"></i> &hellip;you name it!</li>
            </ul>
        </div>

    </section>
    {% endblocktrans %}

    <h2>{% trans "Favourite technology" %}</h2>
    <section class="cards">

        <div class="card">
            <div class="card-image">
                <img src="{% static "img/django_badge.png" %}" alt="django-logo">
            </div>
            <div class="card-header">
                <h4>{% trans "Python/Django" %}</h4>
            </div>
            <div class="card-copy">
                <p>{% trans "Django is a high-level web framework written in Python, aimed on 'perfectionists with deadlines." %}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{% static "img/django_badge.png" %}" alt="django-logo">
            </div>
            <div class="card-header">
                <h4>{% trans "Python/Django" %}</h4>
            </div>
            <div class="card-copy">
                <p>{% trans "Django is a high-level web framework written in Python, aimed on 'perfectionists with deadlines." %}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{% static "img/django_badge.png" %}" alt="django-logo">
            </div>
            <div class="card-header">
                <h4>{% trans "Python/Django" %}</h4>
            </div>
            <div class="card-copy">
                <p>{% trans "Django is a high-level web framework written in Python, aimed on 'perfectionists with deadlines." %}</p>
            </div>
        </div>

    </section>

</article>

<article>
    <h1 class="vertical-center"><i class="fa fa-bug fa-3x"></i> {% trans "Consultancy" %}</h1>
    <p>PHP/MySQL/Memcached
    </p>
</article>
{% endblock %}
