{% extends "base.html" %}

{% load account i18n sniplates %}


{% block content %}
<form class="login login--add-vertical-space" method="post" action="{% url 'account_login' %}">
    <h1 class="login__title">{% trans "Sign In" %}</h1>
    {% csrf_token %}
    {% load_widgets form='widgets/forms.html' %}
    {% for field in form %}
    {% form_field field %}
    {% endfor %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="button" type="submit">{% trans "Sign in" %}</button>
</form>
{% endblock %}
