.login {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border: solid 1px $base-border-color;
  border-radius: $base-border-radius;

  &--add-vertical-space {
    margin-top: 3em;
  }

  &__title {
    margin: 0;
    font-size: 1.4em;
    text-align: center;
  }
}
