.project {
  @include span-columns(4);
  @include omega(3n);
  padding: 15px;
  border: solid 1px $base-border-color;
  border-radius: $base-border-radius;

  &__title {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: .5em;
  }

  &__details {
    font-size: 0.9em;
    color: lighten($base-font-color, 20%);
    margin-bottom: 0;
  }
}
