upstream konkerk_production_django {
    server 127.0.0.1:8010;
}

upstream konkerk_staging_django {
    server 127.0.0.1:8011;
}

# server {
#     listen 80;
#     server_name koningskerk.nu www.koningskerk.nu;
#     return 301 https://koningskerk.nu$request_uri;
# }

server {
    listen       80;
    server_name  koningskerk.nu www.koningskerk.nu;
    error_log /var/log/nginx/koningskerk.nu.error.log warn;
    access_log  /var/log/nginx/koningskerk.nu.access.log main;

    charset utf-8;
    root {{ ansible_env.HOME }}/public_html;

    # ssl on;
    # ssl_certificate /usr/local/nginx/conf/ssl/www.koningskerk.nu/ssl-unified.crt;
    # ssl_certificate_key /usr/local/nginx/conf/ssl/www.koningskerk.nu/ssl.key;
    # ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
    # ssl_dhparam /etc/ssl/certs/dhparam.pem;
    # ssl_prefer_server_ciphers on;
    # ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4 ";

    set $maintenance off;
    if (-f $document_root/maintenance.html ) {
        set $maintenance on;
    }
    if ($remote_addr = "62.45.209.60") {
        set $maintenance off;
    }
    if ($maintenance = on) {
        return 503;
    }

    location ~ /\.ht {
        deny all;
    }

    location / {
        uwsgi_pass konkerk_production_django;
        include uwsgi_params;
    }

    location /favicon.ico {
        alias {{ ansible_env.HOME }}/public_html/favicon.ico;
        expires max;
    }

    location /static/ {
        expires max;
        root {{ ansible_env.HOME }}/django/production;
        access_log  /var/log/nginx/static.koningskerk.nu.access.log;
    }

    location /media/ {
        expires 30d;
        root {{ ansible_env.HOME }}/django/production;
        access_log  /var/log/nginx/media.koningskerk.nu.access.log;
    }

    error_page 503 @maintenance;
    location @maintenance {
        rewrite ^(.*)$ /maintenance.html break;
        internal;
    }
}


server {
    listen       80;
    server_name  staging.koningskerk.nu www.staging.koningskerk.nu;
    error_log /var/log/nginx/staging.koningskerk.nu.error.log warn;
    access_log  /var/log/nginx/staging.koningskerk.nu.access.log main;

    charset utf-8;
    root {{ ansible_env.HOME }}/public_html/staging;

    # ssl on;
    # ssl_certificate /usr/local/nginx/conf/ssl/www.koningskerk.nu/ssl-unified.crt;
    # ssl_certificate_key /usr/local/nginx/conf/ssl/www.koningskerk.nu/ssl.key;
    # ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
    # ssl_dhparam /etc/ssl/certs/dhparam.pem;
    # ssl_prefer_server_ciphers on;
    # ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4 ";

    set $maintenance off;
    if (-f $document_root/maintenance.html ) {
        set $maintenance on;
    }
    if ($remote_addr = "62.45.209.60") {
        set $maintenance off;
    }
    if ($maintenance = on) {
        return 503;
    }

    location ~ /\.ht {
        deny all;
    }

    location / {
        uwsgi_pass konkerk_staging_django;
        include uwsgi_params;
    }

    location /favicon.ico {
        alias {{ ansible_env.HOME }}/public_html/favicon.ico;
        expires max;
    }

    location /static/ {
        expires max;
        root {{ ansible_env.HOME }}/django/staging;
        access_log  /var/log/nginx/static.staging.koningskerk.nu.access.log;
    }

    location /media/ {
        expires 30d;
        root {{ ansible_env.HOME }}/django/staging;
        access_log  /var/log/nginx/media.staging.koningskerk.nu.access.log;
    }

    error_page 503 @maintenance;
    location @maintenance {
        rewrite ^(.*)$ /maintenance.html break;
        internal;
    }
}

