body > header {

  border-bottom: solid 1px $light-gray;

  .container {
    @include row;
    @include display(flex);
    @include align-items(center);
  }

  .main-logo {
    @include margin(1em null);
    @include span-columns(4);

    > span {
      display: block;
      @include retina-image('../logo/logo-200x50', 200px 50px, 'png', '../logo/logo-400x100');
      @include size(200px 50px);
      @include hide-text;
    }
  }

  nav {
    @include span-columns(6);
  }
}


ul[role="menu"] {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);

  > li {
    @include flex(1);
    text-align: center;
  }
}
