body.invoice {

    header,
    main {
        @include outer-container(52em);
    }

    header {
        margin-top: $base-spacing;
        @include align-items(flex-start);
        border-bottom: none;

        address {
            @include span-columns(6);

            &:last-child {
                text-align: right;
            }
        }
    }

    h2 {
        margin-top: $base-spacing;
        color: $palette-darkest;
        border-bottom: solid 1px $palette-action2;
    }

    summary {
        section {
            @include margin($base-spacing null);
            @include row;

            > h3, > div {
                @include span-columns(6);
            }
        }
    }

    table {
        th, td {
            text-align: right;
        }

        td {
            border-bottom: none;
        }
    }

    main > footer {
        @include position(fixed, 100% null null null);
    }

    .highlight {
        background-color: $light-gray;
        @include margin($base-spacing (-$base-spacing));
        @include padding(null $base-spacing);
    }

    span.total {
        @include padding(0.5em);
        background-color: $palette-action;
        color: #FFF;
    }

    .details {
        td,
        th {
            &:first-child {
                text-align: left;
            }
        }
    }
}
