body.invoice {

    @media print {
        font-size: 1em/$minor-second;

        th, td {
            padding-left: 0.5em;
            padding-right: 0.5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    header,
    main {
        @include outer-container(52em);
    }

    header {
        margin-top: $base-spacing;
        @include align-items(flex-start);
        border-bottom: none;

        address {
            font-size: 1em/$minor-second;
            @include span-columns(6);

            &:last-child {
                text-align: right;
            }
        }
    }

    h2 {
        margin-top: $base-spacing;
        color: $palette-darkest;
        border-bottom: solid 1px $palette-darkest;
    }

    summary {
        section {
            @include margin($base-spacing null);
            @include row;

            > h3, > div {
                @include span-columns(6);
            }
        }
    }

    .invoice-end {
        font-size: 1em/$minor-second;
    }

    table {
        th, td {
            text-align: right;
        }

        th {
            vertical-align: top;
        }

        td {
            border-bottom: none;
        }
    }

    main > footer {
        @include position(fixed, 100% null null null);
    }

    .highlight {
        background-color: $light-gray;
        @include margin($base-spacing (-$base-spacing));
        @include padding(null $base-spacing);
    }

    span.total {
        @include padding(0.5em);
        background-color: $palette-action;
        color: #FFF;
    }

    .details {
        tr.project th:first-child {
            text-align: center;
        }

        td,
        th {
            &:first-child {
                text-align: left;
                width: 40%;
            }
        }
    }
}
